.DS_Store
._*
data/
.agents/
assets/img/Sidy.jpg.b64
assets/img/Sidy.png
assets/img/adidas.original.svg
assets/img/adidas.png
assets/img/adidas.svg
assets/img/bold.png
assets/img/dux.png
assets/img/dux.svg
assets/img/dux_high.png
assets/img/dux_sips.png
assets/img/guudrun.png
